exportPattern("^[[:alpha:]]+")

import(methods)
import(MASS)
import(nortest)
import(moments)

importFrom(robustbase, covMcd)
import(mvoutlier)

export(hzTest)
export(mardiaTest)
export(roystonTest)
export(mvnPlot)
export(mvOutlier)

exportClasses("hz")
exportClasses("mardia")
exportClasses("royston")