exportPattern("^[[:alpha:]]+")

import(methods)
import(MASS)
import(nortest)
import(moments)

export(hzTest)
export(mardiaTest)
export(roystonTest)
export(mvnPlot)

exportClasses("hz")
exportClasses("mardia")
exportClasses("royston")